body {

}
.starter-template {
  padding: 15px 15px;
  text-align: center;
}

#text {
    white-space: pre-wrap;
    line-height: 1.0;
    font-family: "Times New Roman", serif; 
    position: relative;
  }

img {
    max-width: 100%;
}

p {
    text-indent: 5px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

/**sup {
    vertical-align: super; 
    font-size: 75%; 
    position: relative;
    top: -0.5em; 
    left: -0.1em; 
    font-size: 70%; 
  }
**/
.mirador-canvas-nav {
    display: none !important;
}

.supraAdd {
    /**vertical-align: super;
    font-size: 80%;
    position: relative;
    top: -0.5em; 
    left: -0.1em; 
    font-size: 70%;
    vertical-align: top; 
    line-height: 
    margin-left: -0.1em; 
    margin-right: -0.1em;**/
    

}

.row {
    display: flex;
  }
  
  .col-5, .col-7 {
    display: flex;
    flex-direction: column;
  }
  
  #my-mirador {
    flex: 1;
  }
  
  #text {
    flex: 1;
    margin-left: 15px; /* Add some spacing from the image */
  }
 /*position: relative; top: -0.5em; font-size: 80%;*/